@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    background-color: #202124;
    color: #bdbdbe;
    font-family: 'Roboto',Arial,sans-serif;

}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.align-items{
    align-items: center;
}

.justify-content{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.flex{
    display: flex;
}

.around{
    justify-content: space-around;
}

main{
    width: 90%;
    margin: auto;
    height: 100%;
}

article{
    height: 100%;
}

section, #form-add-task{
    margin: auto;
    height: 170px;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border: #bdbdbe 1px solid;
    padding: 10px;
    box-sizing: border-box;
    
}


#form-add-task{
    height: 50px;

}

#input-task-text{
    width: 100%;
}

#input-task-text input{
    height: 100%;
    width: 100%;
    border: none;
    padding: 0 0 0 10px;
    outline: none;
    border-radius: 5px 5px 0 0;
    font-size: 18px;   
}

#btn-add-task{
    cursor: pointer;
    height: 80%;
}

#open-close{
    width: 100%;
    border-radius: 5px;
    justify-content: start;
}

#open-close img{
    color: #bdbdbe;
    cursor: pointer;
}

.task-section{
    position: relative;
}

.time-task{
    position: absolute;
    bottom: 5%;
    right: 2%;
    /* font-size: 12px; */
    color: #bdbdbe;
}


.done-task{
    position: absolute;
    bottom: 5%;
    left: 2%;
    cursor: pointer;
}

.edit-task{
    position: absolute;
    bottom: 3%;
    left: 11%;
    cursor: pointer;
}